<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Homepage</title>
    {% load static %}
    <!-- Using the Pulse theme from Bootswatch -->
    <link rel="stylesheet" href="https://bootswatch.com/5/pulse/bootstrap.css">
</head>
<body class="bg-light">

<div class="container mt-5">
    <h2 class="text-center">User Homepage</h2>
    {% if user.is_authenticated %}
        <p class="text-center">Welcome, {{ user.username }}!</p>
        <div class="d-flex justify-content-end">
            <a href="{% url 'logout' %}" class="btn btn-secondary">Logout</a>
        </div>
        <div class="container">
            <div class="row justify-content-center mt-4">
                <div class="col-md-6">
                    <form action="{% url 'rentalspage' %}" method="get">
                        <div class="text-center">
                            <label for="boroughSelect" class="form-label">Select Borough for Available rentals</label>
                        </div>
                        <select class="form-select" id="boroughSelect" name="borough">
                            <option value="Manhattan">Manhattan</option>
                            <option value="Brooklyn">Brooklyn</option>
                            <option value="Queens">Queens</option>
                            <option value="Bronx">Bronx</option>
                            <option value="Staten Island">Staten Island</option>
                        </select>
                        <div class="text-center mt-3">
                            <button type="submit" class="btn btn-primary">Search Rentals</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
        
    {% endif %}
</div>

</body>
</html>
