{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rentals Page - RentWiseNyc</title>
    <!-- Bootstrap CSS from Bootswatch Pulse -->
    <link href="https://bootswatch.com/5/pulse/bootstrap.css" rel="stylesheet">
    <style>
        .filter-sort-section {
            padding-top: 20px;
            padding-bottom: 20px;
        }
        .filter-sort-container {
            display: flex;
            justify-content: flex-end;
        }
        .container {
            display: grid;
            grid-template-columns: repeat(1, 1fr); /* Single column grid */
            gap: 20px; /* Gap between grid items */
        }
        .listing {
            position: relative;
            border-radius: 5px;
            overflow: hidden;
        }
        .listing a {
            text-decoration: none;
            color: black;
        }
        .listing-content {
            display: flex;
            border: 1px solid #ddd;
            border-radius: 5px;
            overflow: hidden;
            width: 100%; /* Ensure full width for flex layout */
        }
        .listing-image {
            width: 50%; /* Set fixed width for image */
            position: relative;
        }
        .listing-image img {
            width: 100%;
            height: auto; /* Maintain aspect ratio */
            display: block;
            object-fit: cover; /* Cover container */
        }
        .listing-details {
            width: 50%; /* Set fixed width for details */
            padding: 20px;
            box-sizing: border-box; /* Include padding in width calculation */
        }
        .favorite-icon {
          position: absolute;
          top: 10px;
          right: 10px;
          cursor: pointer;
          font-size: 24px; 
          color: rgb(255, 253, 253); /* Default non-favorite color */
        }
        .favorite-icon.active {
          color: red; /* Favorited state color */
        }
        .pagination li,
        .step-links a {
          display: inline-block;
        }
        .navbar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000; /* Adjust z-index as needed */
        }
        body {
            padding-top: 70px; /* Adjust padding top to accommodate fixed navbar */
        }
        .dropdown-item{
          color: rgb(172, 169, 169);
        }
        

    </style>
</head>
<body>


  <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'user_homepage' %}">
          RentWiseNYC <!-- Here's the simple text replacement -->
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'placeholder' %}">All rentals</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'favorites_page' %}">Favourites</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'profile_view_edit' %}">My account</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Resources
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="https://hpdonline.nyc.gov/hpdonline/">Violations and Bedbug Reports</a></li>
                <li><a class="dropdown-item" href="https://example.com/landlord-behavioral-links">Landlord Behavioral Links</a></li>
                <li><a class="dropdown-item" href="https://portal.311.nyc.gov/check-status/">311 Reports</a></li>
            </ul>
        </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}" >Logout</a>
          </li>
        </ul>
        <form class="d-flex" method="get" action="{% url 'rentalspage' %}">
          <input class="form-control me-sm-2" type="search" placeholder="e.g. address, building" name="search_query" style="color: rgba(255, 255, 255, 0.75);">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>

<div class="container-fluid filter-sort-section">
    <div class="filter-sort-container">
      <div class="btn-group">
        <button type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          Filter
        </button>
        <div class="dropdown-menu p-4" style="width: 300px;">
          <form id="filterForm" method="GET">
            <div class="mb-3">
              <label for="bedrooms" class="form-label">Bedrooms</label>
              <select class="form-select" id="bedrooms" name="bedrooms">
                <option value="Any">Any</option>
                <option value="1">1 bedroom</option>
                <option value="2">2 bedrooms</option>
                <option value="3">3 bedrooms</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="bathrooms" class="form-label">Bathrooms</label>
              <select class="form-select" id="bathrooms" name = "bathrooms">
                <option value="Any">Any</option>
                <option value="1">1 bath</option>
                <option value="1.5">1.5 bath</option>
                <option value="2">2 bath</option>
                <option value="3">3 bath</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="minPrice" class="form-label">Min Price</label>
              <input type="number" class="form-control" id="minPrice" name = "min_price" placeholder="000000000">
            </div>
            <div class="mb-3">
              <label for="maxPrice" class="form-label">Max Price</label>
              <input type="number" class="form-control" id="maxPrice" name = "max_price" placeholder="9999999999">
            </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="elevator" name = "elevator">
              <label class="form-check-label" for="elevator">Elevator</label>
            </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="laundry" name = "laundry">
              <label class="form-check-label" for="laundry">Laundry</label>
            </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="no_fee" name = "no_fee">
              <label class="form-check-label" for="no_fee">No Broker Fee</label>
            </div>
            <div class="mb-3">
                <label for="buildingType" class="form-label">Building Type</label>
                <select class="form-select" id="buildingType" name = "building_type">
                  <option value="Any">Any</option>
                  <option value="Apartment">Apartment</option>
                  <option value="Condo">Condo</option>
                  <option value="Rental Unit">Rental Unit</option>
                  <option value="Building">Building</option>            
                  <option value="Multi-family">Multi-family</option>
                  <option value="House">House</option>
                  <option value="Townhouse">Townhouse</option>
                  <option value="Co-op">Co-op</option>
                </select>
            </div>  
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="parking" name="parking">
              <label class="form-check-label" for="parking">Parking</label>
            </div>
            <input type="hidden" name="borough" value="{{ filter_params.borough }}">

            <button type="submit" class="btn btn-primary">Apply</button>
            <button type="reset" class="btn btn-secondary">Clear Filters</button>
          </form>
        </div>
      </div>
  
      <!-- Sort Button -->
      <div class="btn-group ms-2">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          Sort
        </button>
        <ul class="dropdown-menu">
          <!-- Add dynamic sort options here with current filter parameters -->
          <li><a class="dropdown-item" href="?sort=recent{% if filter_params.borough %}&borough={{ filter_params.borough }}{% endif %}{% if filter_params.min_price %}&min_price={{ filter_params.min_price }}{% endif %}{% if filter_params.max_price %}&max_price={{ filter_params.max_price }}{% endif %}{% if filter_params.bedrooms %}&bedrooms={{ filter_params.bedrooms }}{% endif %}{% if filter_params.bathrooms %}&bathrooms={{ filter_params.bathrooms }}{% endif %}{% if filter_params.elevator %}&elevator={{ filter_params.elevator }}{% endif %}{% if filter_params.laundry %}&laundry={{ filter_params.laundry }}{% endif %}{% if filter_params.no_fee %}&no_fee={{ filter_params.no_fee }}{% endif %}{% if filter_params.building_type %}&building_type={{ filter_params.building_type }}{% endif %}{% if filter_params.parking %}&parking={{ filter_params.parking }}{% endif %}">Recent Listing</a></li>
          <li><a class="dropdown-item" href="?sort=low_to_high{% if filter_params.borough %}&borough={{ filter_params.borough }}{% endif %}{% if filter_params.min_price %}&min_price={{ filter_params.min_price }}{% endif %}{% if filter_params.max_price %}&max_price={{ filter_params.max_price }}{% endif %}{% if filter_params.bedrooms %}&bedrooms={{ filter_params.bedrooms }}{% endif %}{% if filter_params.bathrooms %}&bathrooms={{ filter_params.bathrooms }}{% endif %}{% if filter_params.elevator %}&elevator={{ filter_params.elevator }}{% endif %}{% if filter_params.laundry %}&laundry={{ filter_params.laundry }}{% endif %}{% if filter_params.no_fee %}&no_fee={{ filter_params.no_fee }}{% endif %}{% if filter_params.building_type %}&building_type={{ filter_params.building_type }}{% endif %}{% if filter_params.parking %}&parking={{ filter_params.parking }}{% endif %}">Lowest to Highest</a></li>
          <li><a class="dropdown-item" href="?sort=high_to_low{% if filter_params.borough %}&borough={{ filter_params.borough }}{% endif %}{% if filter_params.min_price %}&min_price={{ filter_params.min_price }}{% endif %}{% if filter_params.max_price %}&max_price={{ filter_params.max_price }}{% endif %}{% if filter_params.bedrooms %}&bedrooms={{ filter_params.bedrooms }}{% endif %}{% if filter_params.bathrooms %}&bathrooms={{ filter_params.bathrooms }}{% endif %}{% if filter_params.elevator %}&elevator={{ filter_params.elevator }}{% endif %}{% if filter_params.laundry %}&laundry={{ filter_params.laundry }}{% endif %}{% if filter_params.no_fee %}&no_fee={{ filter_params.no_fee }}{% endif %}{% if filter_params.building_type %}&building_type={{ filter_params.building_type }}{% endif %}{% if filter_params.parking %}&parking={{ filter_params.parking }}{% endif %}">Highest to Lowest</a></li>
        </ul>
      </div>
      <div class="container-fluid">
        <div class="row">
            <div class="text-center fixed-bottom mb-3">
                <a href="{% url 'rental_listings_map' %}?filter_params={{ filter_params }}" class="btn btn-primary">Map</a>
            </div>
        </div>
    </div>
    
    </div>
  </div>

  <div class="container my-4">
    {% if page_obj %}
    {% for listing in page_obj %}
        <div class="listing">
            <a href="{% url 'listing_detail' listing.id %}">
                <div class="listing-content">
                    <div class="listing-image"> 
                        <img src="{{ listing.first_image }}" alt="Listing Image">
                        <div class="favorite-icon" onclick="toggleFavorite(event, {{ listing.id }})" data-listing-id="{{ listing.id }}">♥</div>

                    </div>
                    <div class="listing-details">
                        <h3>{{ listing.address }}</h3>
                        <p><strong>Bedrooms:</strong> {{ listing.beds }}</p>
                        <p><strong>Bath:</strong> {{ listing.baths }}</p>
                        <p><strong>Price:</strong> ${{ listing.price }}/month</p>
                        <p><strong>Borough:</strong> {{ listing.borough }}</p>
                        <p><strong>Neighbourhood:</strong> {{ listing.neighborhood }}</p>
                        <p><strong>Square Footage:</strong> {{ listing.sq_ft }} sq ft</p>
                        <p><strong>Broker Fee:</strong> ${{ listing.broker_fee }}</p>
                        <!-- <p><strong>Laundry:</strong> {{ listing.washer_dryer_in_unit }}</p>
                        <p><strong>Elevator:</strong> {{ listing.elevator }}</p>
                        <p><strong>Parking:</strong> {{ listing.parking_available }} </p> -->
                        <p><strong>Availability Date:</strong> {{ listing.Availability_Date }}</p>
                        <p><strong>Building Type:</strong> {{ listing.unit_type }} </p>
                        <!-- <p><strong>Posted by:</strong> {{ listing.Landlord_id }}</p> -->
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
{% else %}
    <p><strong> Sorry! No available rentals match your search. Please adjust your parameters and try again. </strong></p>
{% endif %}


<div>
  <ul class="pagination">
    <span class="step-links">
      {% if page_obj.has_previous %}
        <a class="page-link" href="?page=1{% if filter_params.borough %}&borough={{ filter_params.borough }}{% endif %}{% if filter_params.min_price %}&min_price={{ filter_params.min_price }}{% endif %}{% if filter_params.max_price %}&max_price={{ filter_params.max_price }}{% endif %}{% if filter_params.bedrooms %}&bedrooms={{ filter_params.bedrooms }}{% endif %}{% if filter_params.bathrooms %}&bathrooms={{ filter_params.bathrooms }}{% endif %}{% if filter_params.elevator %}&elevator={{ filter_params.elevator }}{% endif %}{% if filter_params.laundry %}&laundry={{ filter_params.laundry }}{% endif %}{% if filter_params.no_fee %}&no_fee={{ filter_params.no_fee }}{% endif %}{% if filter_params.building_type %}&building_type={{ filter_params.building_type }}{% endif %}{% if filter_params.parking %}&parking={{ filter_params.parking }}{% endif %}">&laquo; first</a>
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if filter_params.borough %}&borough={{ filter_params.borough }}{% endif %}{% if filter_params.min_price %}&min_price={{ filter_params.min_price }}{% endif %}{% if filter_params.max_price %}&max_price={{ filter_params.max_price }}{% endif %}{% if filter_params.bedrooms %}&bedrooms={{ filter_params.bedrooms }}{% endif %}{% if filter_params.bathrooms %}&bathrooms={{ filter_params.bathrooms }}{% endif %}{% if filter_params.elevator %}&elevator={{ filter_params.elevator }}{% endif %}{% if filter_params.laundry %}&laundry={{ filter_params.laundry }}{% endif %}{% if filter_params.no_fee %}&no_fee={{ filter_params.no_fee }}{% endif %}{% if filter_params.building_type %}&building_type={{ filter_params.building_type }}{% endif %}{% if filter_params.parking %}&parking={{ filter_params.parking }}{% endif %}">{{ page_obj.previous_page_number }}</a>
      {% endif %}
        <li class="page-item active">
          <a class="page-link" href="?page={{ page_obj.number }}{% if filter_params.borough %}&borough={{ filter_params.borough }}{% endif %}{% if filter_params.min_price %}&min_price={{ filter_params.min_price }}{% endif %}{% if filter_params.max_price %}&max_price={{ filter_params.max_price }}{% endif %}{% if filter_params.bedrooms %}&bedrooms={{ filter_params.bedrooms }}{% endif %}{% if filter_params.bathrooms %}&bathrooms={{ filter_params.bathrooms }}{% endif %}{% if filter_params.elevator %}&elevator={{ filter_params.elevator }}{% endif %}{% if filter_params.laundry %}&laundry={{ filter_params.laundry }}{% endif %}{% if filter_params.no_fee %}&no_fee={{ filter_params.no_fee }}{% endif %}{% if filter_params.building_type %}&building_type={{ filter_params.building_type }}{% endif %}{% if filter_params.parking %}&parking={{ filter_params.parking }}{% endif %}">{{ page_obj.number }} </a>
        </li>
      {% if page_obj.has_next %}
        <a class="page-link" href="?page={{ page_obj.next_page_number }}{% if filter_params.borough %}&borough={{ filter_params.borough }}{% endif %}{% if filter_params.min_price %}&min_price={{ filter_params.min_price }}{% endif %}{% if filter_params.max_price %}&max_price={{ filter_params.max_price }}{% endif %}{% if filter_params.bedrooms %}&bedrooms={{ filter_params.bedrooms }}{% endif %}{% if filter_params.bathrooms %}&bathrooms={{ filter_params.bathrooms }}{% endif %}{% if filter_params.elevator %}&elevator={{ filter_params.elevator }}{% endif %}{% if filter_params.laundry %}&laundry={{ filter_params.laundry }}{% endif %}{% if filter_params.no_fee %}&no_fee={{ filter_params.no_fee }}{% endif %}{% if filter_params.building_type %}&building_type={{ filter_params.building_type }}{% endif %}{% if filter_params.parking %}&parking={{ filter_params.parking }}{% endif %}">{{ page_obj.next_page_number }}</a>
        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}{% if filter_params.borough %}&borough={{ filter_params.borough }}{% endif %}{% if filter_params.min_price %}&min_price={{ filter_params.min_price }}{% endif %}{% if filter_params.max_price %}&max_price={{ filter_params.max_price }}{% endif %}{% if filter_params.bedrooms %}&bedrooms={{ filter_params.bedrooms }}{% endif %}{% if filter_params.bathrooms %}&bathrooms={{ filter_params.bathrooms }}{% endif %}{% if filter_params.elevator %}&elevator={{ filter_params.elevator }}{% endif %}{% if filter_params.laundry %}&laundry={{ filter_params.laundry }}{% endif %}{% if filter_params.no_fee %}&no_fee={{ filter_params.no_fee }}{% endif %}{% if filter_params.building_type %}&building_type={{ filter_params.building_type }}{% endif %}{% if filter_params.parking %}&parking={{ filter_params.parking }}{% endif %}">last &raquo;</a>
      {% endif %}
    </span>
  </ul>
</div>

</div>
  
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.0/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>


<script>
  document.addEventListener("DOMContentLoaded", function () {
      const filterForm = document.getElementById('filterForm');
      const queryParams = new URLSearchParams(window.location.search);

      // Populate form fields with existing filter parameters
      document.querySelectorAll('#filterForm select, #filterForm input[type="number"], #filterForm input[type="checkbox"]').forEach((elem) => {
          const paramName = elem.getAttribute('name');
          if (queryParams.has(paramName)) {
              if (elem.type === 'checkbox') {
                  elem.checked = true;
              } else {
                  elem.value = queryParams.get(paramName);
              }
          }
      });

      // Submit form with updated filter parameters
      filterForm.addEventListener('submit', function (event) {
          event.preventDefault();
          const formData = new FormData(filterForm);
          const params = new URLSearchParams(formData);
          window.location.href = `${window.location.pathname}?${params}`;
      });
  });
</script>
<script>
// Add the JavaScript for validating min and max price here
$(document).ready(function() {
    $('#filterForm').on('submit', function(e) {
        var minPrice = parseInt($('#minPrice').val(), 10);
        var maxPrice = parseInt($('#maxPrice').val(), 10);
        
        if (minPrice > maxPrice) {
            alert('Minimum price cannot be greater than maximum price.');
            e.preventDefault(); // Prevent form submission
        }
    });
});

  // Function to get the CSRF token from cookies
  function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          const cookies = document.cookie.split(';');
          for (let i = 0; i < cookies.length; i++) {
              const cookie = cookies[i].trim();
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
  }

  // Updated function for toggling favorite status
function toggleFavorite(event, listingId) {
  console.log("Toggle favorite function called for listing ID:", listingId);

  event.stopPropagation(); // Prevent the event from bubbling up to the parent elements
  event.preventDefault(); // Prevent the default action (navigating to the next page)

  const icon = event.currentTarget;
  $.ajax({
      type: "POST",
      url: '/toggle_favorite/',
      data: {
          'listing_id': listingId,
          'csrfmiddlewaretoken': getCookie('csrftoken'),
      },
      success: function(response) {
          if (response.status === 'added') {
              icon.classList.add('active');
          } else if (response.status === 'removed') {
              icon.classList.remove('active');
          }
      },
      error: function(xhr, status, error) {
          console.error("Error toggling favorite:", status, error);
          alert('An error occurred while processing your request.');
      }
  });
}

    document.addEventListener("DOMContentLoaded", function() {
      // Parse the favorite listings IDs from a JSON string to an array
      const favoriteListingsIds = JSON.parse('{{ favorite_listings_ids|safe }}');

      // Wait for the existing listings to be generated
      setTimeout(function() {
        // Select all favorite icons
        const favoriteIcons = document.querySelectorAll('.favorite-icon');

        favoriteIcons.forEach(function(icon) {
          // Extract listing ID stored in a data attribute (e.g., data-listing-id)
          const listingId = parseInt(icon.getAttribute('data-listing-id'), 10);

          // Check if the listing ID is in the list of favorites
          if (favoriteListingsIds.includes(listingId)) {
            // Add the 'active' class to mark it as favorited
            icon.classList.add('active');
          }
        });
      }, 100); // Adjust timeout as needed to ensure it runs after listings are generated
    });

    document.addEventListener("DOMContentLoaded", function () {
    const filterForm = document.getElementById('filterForm');

    // Event listener for form reset
    filterForm.addEventListener('reset', function (event) {
        event.preventDefault(); // Prevent the default reset behavior
        // Reset all select elements to their first option (typically 'Any')
        filterForm.querySelectorAll('select').forEach(select => select.selectedIndex = 0);
        // Uncheck all checkboxes
        filterForm.querySelectorAll('input[type="checkbox"]').forEach(checkbox => checkbox.checked = false);
        // Clear all text and number inputs
        filterForm.querySelectorAll('input[type="text"], input[type="number"]').forEach(input => input.value = '');

        // Redirect to the base URL or with some default parameters if necessary
        window.location.href = '{% url "rentalspage" %}';
    });
    });


    
    </script>

</body>
</html>
