{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
<head>
    <title>Profile</title>
    <link href="https://bootswatch.com/5/pulse/bootstrap.min.css" rel="stylesheet">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="https://bootswatch.com/5/pulse/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="{% static 'users/common_style.css' %}"> -->
    <style>
        /* Additional custom styling */
        .custom-form {
            max-width: 400px; /* Adjust the max-width as needed */
            margin: auto; /* Center the form */
        }
        .form-button {
            width: 100%;
            padding: 10px; /* Adjust padding to match the login button */
            margin-top: 10px; /* Space between buttons */
            display: block; /* Ensure it's displayed as block */
            text-align: center; /* Center the text for consistency */
        }
        .dropdown-item{
          color: rgb(172, 169, 169);
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'user_homepage' %}">
              RentWiseNYC <!-- Here's the simple text replacement -->
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'rentalspage' %}">All rentals</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'favorites_page' %}">Favourites</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'profile_view_edit' %}">My account</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Resources
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="https://hpdonline.nyc.gov/hpdonline/">Violations and Bedbug Reports</a></li>
                    <li><a class="dropdown-item" href="https://example.com/landlord-behavioral-links">Landlord Behavioral Links</a></li>
                    <li><a class="dropdown-item" href="https://portal.311.nyc.gov/check-status/">311 Reports</a></li>
                </ul>
            </li>            
              <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}" >Logout</a>
              </li>
            </ul>
            <form class="d-flex" method="get" action="{% url 'rentalspage' %}">
              <input class="form-control me-sm-2" type="search" placeholder="e.g. address,building" name="search_query" style="color: rgba(255, 255, 255, 0.75);">
              <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>


    <div class="container mt-5">
        <h2 class="text-center">Edit Profile</h2>
        <div class="custom-form">
            <form action="" method="post" class="mt-4">
                {% csrf_token %}
                
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" id="email" value="{{ user.email }}" class="form-control" disabled="">
                </div>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" id="username" value="{{ user.username }}" class="form-control" disabled="">
                </div>

                {{ form|crispy }}
                <input type="submit" class="btn btn-primary btn-block mt-3" value="Save Changes"/>
            </form>

            <div class="container mt-3">
                {% for message in messages %}
                    
                    {% if message.tags == 'error'  %}
                        <!-- <div class="alert alert-danger" role="alert">
                            Please correct the errors below.
                        </div> -->
                    {% else %}
                        <div class="alert {% if message.tags == 'success' %}alert-success{% endif %}" role="alert">
                            {{ message }}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
