<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Sign Up</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'users/common_style.css' %}">
</head>
<body>
    <div id="loginSection">
        <h2>Welcome to NYU!</h2>
        <h2>Login </h2>
        <form action="{% url 'user_login' %}" method="post">
            {% csrf_token %}
            username: <input type="text" name="username" required><br>
            password: <input type="password" name="password" required><br>
            <input type="submit" value="Log In">

            <div class="signup-options">
            <p>Not a member yet?</p>
            <a href="{% url 'user_signup' %}" class="signup-link">Sign Up
                as User</a>
                <br>
            <a href="{% url 'user_signup' %}" class="signup-link">Sign Up as Landlord</a>
        </div>
        </form>

    </div>

</body>
</html>
