<!-- templates/login/password_reset_confirm.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Enter a new password</title>
    <link rel="stylesheet" href="https://bootswatch.com/5/pulse/bootstrap.min.css">
    {% load crispy_forms_tags %}

    <style>
      body {
          margin: 20px; /* Add margin around the whole page */
      }
      form {
          max-width: 400px; /* Limit the width of the form */
          /* Remove margin-left and margin-right properties */
      }
    </style>
</head>

{% block content %}

{% if validlink %}

<h1>Reset your password</h1>
<form method="POST">
  {% csrf_token %}
  {{ form|crispy }}
  <input type="submit" value="Change my password">
</form>

{% else %}

<p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>

{% endif %}
{% endblock %}