<!-- templates/login/password_reset_done.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Check your email</title>
    <link rel="stylesheet" href="https://bootswatch.com/5/pulse/bootstrap.min.css">
    {% load crispy_forms_tags %}

    <style>
      body {
          margin: 20px; /* Add margin around the whole page */
      }

    </style>
</head>

{% block content %}
  <h1>Check your email.</h1>
  <p> We've emailed you instructions for resetting your password. You should receive an email shortly!</p>
{% endblock %}