<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password reset complete</title>
    <link rel="stylesheet" href="https://bootswatch.com/5/pulse/bootstrap.min.css">
    {% load crispy_forms_tags %}
    <style>
        .centered-content {
            margin: auto; /* Center the content horizontally */
            width: 50%; /* Adjust the width as needed */
            padding-top: 10%; /* Adjust the padding-top to center the content vertically somewhat */
            min-height: 20vh; /* Set the minimum height to 20% of the viewport height */
            text-align: center;
        }
    </style>
    <script>
        // Countdown timer for redirection
        var timeleft = 5; // Time in seconds before redirect
        var downloadTimer = setInterval(function(){
            if(timeleft <= 0){
                clearInterval(downloadTimer);
                document.getElementById("countdown").innerHTML = "Redirecting now...";
                window.location.href = "{% url 'index' %}";
            } else {
                document.getElementById("countdown").innerHTML = timeleft + " seconds remaining before redirecting to homepage...";
            }
            timeleft -= 1;
        }, 1000);
    </script>
</head>
<body>
<div class="container mt-5">
    <div class="centered-content">
        {% block content %}
          <p>Your password has been reset successfully.</p>
          <a href="{% url 'index' %}" class="btn btn-primary">Go to Homepage</a>
          <p id="countdown">5 seconds remaining before redirecting to homepage...</p>
        {% endblock %}
    </div>
</div>
</body>
</html>
