<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Log In</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'users/common_style.css' %}">
    <style>
        .forgot-password {
            font-size: smaller;
            display: block;
            margin-top: 5px; /* Adjust as needed */
        }
    </style>
</head>
<body>
<h2>User Log In</h2>
<form action="" method="post">
    {% csrf_token %}
    username:
    <input type="text" name="username" value="{{ username }}" required/><br/>
    password:
    <input type="password" name="password" required/><br/>

    <input type="submit" value="Log In"/>

    <div class="forgot-password">
        <a href="{% url 'password_reset' %}">Forgot password?</a>
    </div>
</form>
{% for message in messages %}

    <div class="alert alert-success">
        <a class="close" href="#" data-dismiss="alert">×</a>
        {{ message }}
    </div>

{% endfor %}
</body>
</html>