option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "rent_wise_nyc.settings"
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
  aws:elasticbeanstalk:container:python:
    WSGIPath: "rent_wise_nyc.wsgi:application"
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static